@import '../global.scss';
@import './mixins.scss';

.pure-button {
  &-text-default-small {
    @include --pure-button-text-size-small();
    color: $pure-color-t3;
  }
  &-text-default {
    @include --pure-button-text-size-normal();
    color: $pure-color-t3;
  }
  &-text-default-big {
    @include --pure-button-text-size-big();
    color: $pure-color-t3;
  }
  
  &-text-confirm-small {
    @include --pure-button-text-size-small();
    color: $pure-color-tint;
  }
  &-text-confirm {
    @include --pure-button-text-size-normal();
    color: $pure-color-tint;
  }
  &-text-confirm-big {
    @include --pure-button-text-size-big();
    color: $pure-color-tint;
  }
  
  &-text-warning-small {
    @include --pure-button-text-size-small();
    color: $pure-color-warning;
  }
  &-text-warning {
    @include --pure-button-text-size-normal();
    color: $pure-color-warning;
  }
  &-text-warning-big {
    @include --pure-button-text-size-big();
    color: $pure-color-warning;
  }
  
  &-text-success-small {
    @include --pure-button-text-size-small();
    color: $pure-color-success;
  }
  &-text-success {
    @include --pure-button-text-size-normal();
    color: $pure-color-success;
  }
  &-text-success-big {
    @include --pure-button-text-size-big();
    color: $pure-color-success;
  }
  
  &-text-alert-small {
    @include --pure-button-text-size-small();
    color: $pure-color-alert;
  }
  &-text-alert {
    @include --pure-button-text-size-normal();
    color: $pure-color-alert;
  }
  &-text-alert-big {
    @include --pure-button-text-size-big();
    color: $pure-color-alert;
  }
  
  &-link-small {
    @include --pure-button-text-size-small();
    color: $pure-color-tint;
    text-decoration: underline;
  }
  &-link {
    @include --pure-button-text-size-normal();
    color: $pure-color-tint;
    text-decoration: underline;
  }
  &-link-big {
    @include --pure-button-text-size-big();
    color: $pure-color-tint;
    text-decoration: underline;
  }
  
  &-default {
    @include --pure-button-size-normal();
    border: 1px solid $pure-color-border;
    color: $pure-color-t3;
    background-color: transparent;
  }
  &-default-small {
    @include --pure-button-size-small();
    border: 1px solid $pure-color-border;
    color: $pure-color-t3;
    background-color: transparent;
  }
  &-default-big {
    @include --pure-button-size-big();
    border: 1px solid $pure-color-border;
    color: $pure-color-t3;
    background-color: transparent;
  }
  
  &-confirm {
    @include --pure-button-size-normal();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-tint;
  }
  &-confirm-small {
    @include --pure-button-size-small();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-tint;
  }
  &-confirm-big {
    @include --pure-button-size-big();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-tint;
  }
  
  &-warning {
    @include --pure-button-size-normal();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-warning;
  }
  &-warning-small {
    @include --pure-button-size-small();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-warning;
  }
  &-warning-big {
    @include --pure-button-size-big();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-warning;
  }
  
  &-success {
    @include --pure-button-size-normal();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-success;
  }
  &-success-small {
    @include --pure-button-size-small();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-success;
  }
  &-success-big {
    @include --pure-button-size-big();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-success;
  }
  
  &-alert {
    @include --pure-button-size-normal();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-alert;
  }
  &-alert-small {
    @include --pure-button-size-small();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-alert;
  }
  &-alert-big {
    @include --pure-button-size-big();
    border: none;
    color: $pure-color-white;
    background-color: $pure-color-alert;
  }
  
}





