@import '../global.scss';

.pure-toast-default {
  padding: $pure-margin-toast-top-bottom $pure-margin-toast-left-right;
  flex-direction: column;
  &-position-auto {
    display: flex;
    align-items: center;
    .space-top {
      flex: 2;
    }
    .space-bottom {
      flex: 3;
    }
  }
  &-position-top {
    display: flex;
    align-items: center;
    .space-top {
      height: 30px;
    }
    .space-bottom {
      flex: 1;
    }
  }
  &-position-center {
    display: flex;
    align-items: center;
    .space-top {
      flex: 1;
    }
    .space-bottom {
      flex: 1;
    }
  }
  &-position-bottom {
    display: flex;
    align-items: center;
    .space-top {
      flex: 1;
    }
    .space-bottom {
      height: 30px;
    }
  }
  .message-box {
    min-width: 50px;
    border-radius: 5px;
    background-color: $pure-color-toast;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: $pure-margin-toast-top-bottom $pure-margin-toast-left-right;
    .icon-loading {
      width: 30px;
      height: 30px;
    }
    .icon {
      width: 30px;
      height: 30px;
      &-success {
        background-image: url('/src/components/pure-ui/pure-toast/success.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-warning {
        background-image: url('/src/components/pure-ui/pure-toast/warning.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-error {
        background-image: url('/src/components/pure-ui/pure-toast/error.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .space {
      height: $pure-margin-inner;
    }
    .message {
      font-size: $pure-font-size-16;
      color: $pure-color-tw;
    }
  }
}





